Repository TakedaLab/B4Lecture-2023, pull requests merged in 2023-06, with the labels that each got.

#26 森田嵩基 EX02 解答 Python
  ex1/k_morita/.gitignore
  ex1/k_morita/audio.wav
  ex1/k_morita/audio_inv.wav
  ex1/k_morita/filter.py
  ex1/k_morita/main.py
  ex1/k_morita/result.png
  ex1/k_morita/spectrogram.py
  ex2/k_morita/audio.wav
  ex2/k_morita/audio_filtered.wav
  ex2/k_morita/filter.png
  ex2/k_morita/filter.py
  ex2/k_morita/main.py
  ex2/k_morita/result.png
  ex2/k_morita/spectrogram.py
Labels: EX1, EX2

#48 森田嵩基 EX03 解答 Python
  ex3/k_morita/data1-lr.png
  ex3/k_morita/data2-lr.png
  ex3/k_morita/data3-lr.png
  ex3/k_morita/linear_regression.py
  ex3/k_morita/main1.py
  ex3/k_morita/main2.py
  ex3/k_morita/main3.py
  ex3/k_morita/test.ipynb
Labels: EX3

#60 井出憲次朗 Ex4 解答 Python
  ex4/d_ide/F0(auto-correlation).png
  ex4/d_ide/F0(cepstrum).png
  ex4/d_ide/F0.png
  ex4/d_ide/F0.py
  ex4/d_ide/adjust_doremi.wav
  ex4/d_ide/envelope.png
  ex4/d_ide/envelope.py
  ex4/d_ide/hapyou2.wav
  ex4/d_ide/main.py
  ex4/d_ide/toujyo.wav
Labels: EX4

#71 荻田健一 Ex5 解答 Python
  ex5/k_ogita/fig/data1_2.png
  ex5/k_ogita/fig/data1_3.png
  ex5/k_ogita/fig/data1_4.png
  ex5/k_ogita/fig/data1_5.png
  ex5/k_ogita/fig/data1_6.png
  ex5/k_ogita/fig/data2_2.png
  ex5/k_ogita/fig/data2_3.png
  ex5/k_ogita/fig/data2_4.png
  ex5/k_ogita/fig/data2_5.png
  ex5/k_ogita/fig/data3_2.png
  ex5/k_ogita/fig/data3_3.png
  ex5/k_ogita/fig/data3_4.png
  ex5/k_ogita/fig/data3_5.png
  ex5/k_ogita/fig/delta.png
  ex5/k_ogita/fig/filter_bank.png
  ex5/k_ogita/fig/mel_spectrum.png
  ex5/k_ogita/fig/mfcc.png
  ex5/k_ogita/k_means.py
  ex5/k_ogita/mel_spec.py
  ex5/k_ogita/miku.wav
  ex5/k_ogita/spec.py
Labels: EX5

#63 荻田 健一 EX4 解答 python
  ex4/k_ogita/autocorrelation.py
  ex4/k_ogita/cepstrum.py
  ex4/k_ogita/clipped.wav
  ex4/k_ogita/f0_estimation.png
  ex4/k_ogita/f0_estimation.py
  ex4/k_ogita/lpc.py
  ex4/k_ogita/miku.wav
  ex4/k_ogita/spec.py
  ex4/k_ogita/spectrum.py
  ex4/k_ogita/spectrum_envelope.png
Labels: EX4

#36 荻田 健一 EX2 解答 python
  ex2/k_ogita/freq_responce.png
  ex2/k_ogita/main.py
  ex2/k_ogita/miku.wav
  ex2/k_ogita/re-miku.wav
  ex2/k_ogita/spec.py
  ex2/k_ogita/spectrogram.png
  ex2/k_ogita/wave.png
Labels: EX2

#67 服部公宏 EX5 解答 Python
  ex5/k_hattori/ONSEI.wav
  ex5/k_hattori/fig_ONSEI.png
  ex5/k_hattori/fig_data1_k5.png
  ex5/k_hattori/fig_data2_k4.png
  ex5/k_hattori/fig_data3_k4.png
  ex5/k_hattori/main.py
  ex5/k_hattori/myfunc.py
Labels: EX5

#76 森田嵩基 EX06 解答 Python
  ex6/k_morita/dataset/data1.csv
  ex6/k_morita/dataset/data2.csv
  ex6/k_morita/dataset/data3.csv
  ex6/k_morita/pca.py
  ex6/k_morita/pca_data1.png
  ex6/k_morita/pca_data2_compress.png
  ex6/k_morita/pca_data2_origin.gif
  ex6/k_morita/pca_data2_origin.png
  ex6/k_morita/pca_data3.png
Labels: EX6

#90 井出憲次朗 Ex7 解答 Python
  ex7/d_ide/data1.csv
  ex7/d_ide/data2.csv
  ex7/d_ide/data3.csv
  ex7/d_ide/gmm.py
  ex7/d_ide/main.py
  ex7/d_ide/result/gmm_data1.png
  ex7/d_ide/result/gmm_data2.png
  ex7/d_ide/result/gmm_data3.png
  ex7/d_ide/result/log_data1.png
  ex7/d_ide/result/log_data2.png
  ex7/d_ide/result/log_data3.png
Labels: EX7

#88 服部公宏 EX7 解答 Python
  ex7/k_hattori/data1_gmm.png
  ex7/k_hattori/data1_loglike.png
  ex7/k_hattori/data2_gmm_3d.png
  ex7/k_hattori/data2_gmm_contour.png
  ex7/k_hattori/data2_loglike.png
  ex7/k_hattori/data3_gmm_3d.png
  ex7/k_hattori/data3_gmm_contour.png
  ex7/k_hattori/data3_loglike.png
  ex7/k_hattori/main.py
Labels: EX7

#81 川西樹 EX6 解答 Python
  ex6/t_kawanishi/PCA.py
  ex6/t_kawanishi/csvOpe.py
  ex6/t_kawanishi/data1_PCA.png
  ex6/t_kawanishi/data2_Compression.png
  ex6/t_kawanishi/data2_PCA.png
  ex6/t_kawanishi/data2_PCA2.png
  ex6/t_kawanishi/data3_Cumulative.png
  ex6/t_kawanishi/main.py
Labels: EX6

#83 荻田健一 EX6 解答 Python
  ex6/k_ogita/data1_pca.png
  ex6/k_ogita/data2_comp.png
  ex6/k_ogita/data2_pca.gif
  ex6/k_ogita/data3_con_rate.png
  ex6/k_ogita/pca.py
Labels: EX6

#80 岩下舜典 EX6 解答 python
  ex6/s_iwashita/main.py
  ex6/s_iwashita/result/data1.png
  ex6/s_iwashita/result/data1_cum_con.png
  ex6/s_iwashita/result/data2.gif
  ex6/s_iwashita/result/data2.png
  ex6/s_iwashita/result/data2_compressed.png
  ex6/s_iwashita/result/data2_cum_con.png
  ex6/s_iwashita/result/data3_cum_con.png
Labels: EX6

#86 森田嵩基 EX07 解答 Python
  ex7/k_morita/data1_log_likelihood.png
  ex7/k_morita/data1_mixture_distribution.png
  ex7/k_morita/data2_log_likelihood.png
  ex7/k_morita/data2_mixture_distribution.png
  ex7/k_morita/data3_log_likelihood.png
  ex7/k_morita/data3_mixture_distribution.png
  ex7/k_morita/gmm.py
Labels: EX7

#77 服部公宏 EX6 解答 Python
  ex6/k_hattori/data1.png
  ex6/k_hattori/data2_2d.png
  ex6/k_hattori/data2_3d_1.png
  ex6/k_hattori/data2_3d_2.png
  ex6/k_hattori/data2_3d_3.png
  ex6/k_hattori/data3_contribution-rate.png
  ex6/k_hattori/main.py
Labels: EX6

#94 服部公宏 EX8 解答 Python
  ex8/k_hattori/data1.png
  ex8/k_hattori/data2.png
  ex8/k_hattori/data3.png
  ex8/k_hattori/data4.png
  ex8/k_hattori/main.py
Labels: EX8

#99 岩下舜典 EX7 解答 python
  ex7/s_iwashita/main.py
  ex7/s_iwashita/result/data1_result_K2.png
  ex7/s_iwashita/result/data2_gmm_3d_K3.gif
  ex7/s_iwashita/result/data2_result_K3.png
  ex7/s_iwashita/result/data3_gmm_3d_K3.gif
  ex7/s_iwashita/result/data3_result_K3.png
Labels: EX7

#98 川西樹 EX8 解答 Python
  ex8/t_kawanishi/HMM.py
  ex8/t_kawanishi/data1_confusion_matrix.png
  ex8/t_kawanishi/data2_confusion_matrix.png
  ex8/t_kawanishi/data3_confusion_matrix.png
  ex8/t_kawanishi/data4_confusion_matrix.png
  ex8/t_kawanishi/main.py
Labels: EX8

#93 森田嵩基 EX08 解答 Python
  ex8/k_morita/data1.png
  ex8/k_morita/data2.png
  ex8/k_morita/data3.png
  ex8/k_morita/data4.png
  ex8/k_morita/hmm.py
Labels: EX8

#96 榊涼哉 Ex8 解答 Python
  ex8/r_sakaki/data1.pickle
  ex8/r_sakaki/data2.pickle
  ex8/r_sakaki/data3.pickle
  ex8/r_sakaki/data4.pickle
  ex8/r_sakaki/hmm.py
  ex8/r_sakaki/result_data1.png
  ex8/r_sakaki/result_data2.png
  ex8/r_sakaki/result_data3.png
  ex8/r_sakaki/result_data4.png
Labels: EX8

#100 今村剛大 Ex8 解答 Python
  ex8/t_imamura/Figures/data1.png
  ex8/t_imamura/Figures/data2.png
  ex8/t_imamura/Figures/data3.png
  ex8/t_imamura/Figures/data4.png
  ex8/t_imamura/main.py
Labels: EX8

#78 西澤佳飛 EX5 解答 python
  ex5/k_nishizawa/k_means.py
  ex5/k_nishizawa/main.py
  ex5/k_nishizawa/mfcc_analysis.py
Labels: EX5

#95 荻田健一 EX7 解答 Python
  ex7/k_ogita/cluster_data1_k_2.png
  ex7/k_ogita/cluster_data2_k_3.png
  ex7/k_ogita/cluster_data3_k_3.png
  ex7/k_ogita/gmm.py
  ex7/k_ogita/loglike_data1_k_2.png
  ex7/k_ogita/loglike_data2_k_3.png
  ex7/k_ogita/loglike_data3_k_3.png
  ex7/k_ogita/prob_data2_k_3.gif
  ex7/k_ogita/prob_data3_k_3.gif
Labels: EX7
