Repository TakedaLab/B4Lecture-2023, pull requests merged in 2023-05, with the labels that each got.

#20 [Fix] Issue with comment actions not working
  .github/workflows/check_directory_name.yml
  .github/workflows/final_message.yml
  .github/workflows/first_message.yml
  .github/workflows/set-pr-reviewers.yml
Labels: bug, CI

#21 [Fix] Add paths-ignore for push trigger
  .github/workflows/check_directory_name.yml
Labels: CI

#4 Yoon Dohyun EX1 解答 Python
  ex1/d_yoon/ex1.py
  ex1/d_yoon/ex1.wav
  ex1/d_yoon/ex1_re.wav
  ex1/d_yoon/signals.png
Labels: EX1

#7 川西樹 EX1 解答 python
  ex1/figs/result.png
  ex1/t_kawanishi/Re_voice.wav
  ex1/t_kawanishi/comparison_graph_ex1.png
  ex1/t_kawanishi/main.py
  ex1/t_kawanishi/voice.wav
Labels: EX1

#11 今村剛大 Ex1 解答 python
  ex1/b4_imamura/ex1.png
  ex1/b4_imamura/main.py
  ex1/b4_imamura/sample.wav
Labels: EX1

#5 服部公宏 EX1 解答 python
  ex1/k_hattori/ONSEI.wav
  ex1/k_hattori/main.py
Labels: EX1

#23 榊涼哉Ex1解答python
  ex1/r_sakaki/main.py
  ex1/r_sakaki/result.png
  ex1/r_sakaki/sample.mp3
  ex1/r_sakaki/taiko.mp3
Labels: EX1

#24 岩下舜典 EX1 解答 python
  ex1/s_iwashita/Figure_1.png
  ex1/s_iwashita/main.py
  ex1/s_iwashita/re-sample.wav
  ex1/s_iwashita/sample.wav
  ex1/s_iwashita/wave.png
Labels: EX1

#43 [Fix] Check only difference files
  .github/workflows/assign-pr-reviewers.yml
  .github/workflows/checker.yml
  .github/workflows/first_message.yml
  .github/workflows/set-pr-reviewers.yml
Labels: bug, CI

#29 川西 樹 EX2 解答 python
  ex2/t_kawanishi/Re_voice.wav
  ex2/t_kawanishi/every_graph.png
  ex2/t_kawanishi/ex1Function.py
  ex2/t_kawanishi/filtered.png
  ex2/t_kawanishi/filters.py
  ex2/t_kawanishi/main.py
  ex2/t_kawanishi/origin.png
  ex2/t_kawanishi/voice.wav
Labels: EX2

#30 今村剛大 Ex2 解答 python
  ex2/b4_imamura/ex2_highpass_filter.png
  ex2/b4_imamura/ex2_sample.png
  ex2/b4_imamura/highpass_sample.wav
  ex2/b4_imamura/main.py
  ex2/b4_imamura/sample.wav
Labels: EX2

#46 川西 樹 EX3 解答 python
  ex3/t_kawanishi/check_penalty.py
  ex3/t_kawanishi/error1.png
  ex3/t_kawanishi/error2.png
  ex3/t_kawanishi/error3.png
  ex3/t_kawanishi/graph1.png
  ex3/t_kawanishi/graph1_A.png
  ex3/t_kawanishi/graph2.png
  ex3/t_kawanishi/graph2_A.png
  ex3/t_kawanishi/graph3.png
  ex3/t_kawanishi/graph3_A.png
  ex3/t_kawanishi/graph3_A_1.png
  ex3/t_kawanishi/main.py
Labels: EX3

#51 井出憲次朗 EX3 解答 Python
  ex3/d_ide/linear_regression.py
  ex3/d_ide/main.py
  ex3/d_ide/result/data1.png
  ex3/d_ide/result/data2.png
  ex3/d_ide/result/data3.png
Labels: EX3

#52 岩下舜典 EX3 解答 python
  ex3/s_iwashita/data1.png
  ex3/s_iwashita/data2.png
  ex3/s_iwashita/data3.png
  ex3/s_iwashita/main.py
Labels: EX3

#64 岩下舜典 EX4 解答 python
  ex4/s_iwashita/envelope.png
  ex4/s_iwashita/main.py
  ex4/s_iwashita/plot_f0.png
  ex4/s_iwashita/sample.wav
Labels: EX4

#47 服部公宏 EX3 解答 Python
  ex3/k_hattori/main.py
Labels: EX3
